<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nanoleaf | <%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
</head>

<body>

    <!-- Clear fields by deleting all data  -->
    <form action="/delete_original" method="POST">
        <input type="submit" value="clear">
    </form>

    <!-- Insert original data -->
    <form action="/insert_original" method="POST">
        <input type="submit" value="Insert Original Data">
    </form>

    <div class="container">
        <table class="marketing_table" cellspacing="0">
            <thead>
                <th>Week</th>
                <th>Date Created</th>
                <th>Website Visitors</th>
                <th>PR Clippings</th>
            </thead>

            <% marketingData.forEach(item => { %>

            <tr>
                <td><%= item.week_number %></td>
                <td><%= item.date_created %></td>
                <td><%= item.web_visitors %></td>
                <td><%= item.pr_clippings %></td>
            </tr>

            <% }) %>
        </table>

        <div class="chart-container">
            <canvas id="myChart"></canvas>
        </div>

        <script>
            const data = <%- JSON.stringify(marketingData) %>;

            // Variables for the chart
            const arrayOfWeeks = data.map(item => item.date_created.split(",")[0]);
            const arrayOfWebVisitors = data.map(item => item.web_visitors);
            const arrayOfPRClippings = data.map(item => item.pr_clippings);
            const startingDate = data[0].date_created.split(",")[0];
            const endingDate = data.slice(-1).pop().date_created.split(",")[0];

            const ctx = document.getElementById('myChart').getContext('2d');
            const xLabels = arrayOfWeeks;
            const myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: xLabels,
                    datasets: [{
                        label: `Website Visitors`,
                        data: arrayOfWebVisitors,
                        backgroundColor: 'rgba(0, 0, 0, 0.99)',
                        borderColor: 'rgba(0, 0, 0, 0.99)',
                        borderWidth: 1,
                        tension: 0.4,
                        yAxisID: 'y'
                    }, {
                        label: `PR Clippings`,
                        data: arrayOfPRClippings,
                        backgroundColor: 'rgba(0, 2, 147, 0.99)',
                        borderColor: 'rgba(0, 2, 147, 0.99)',
                        borderWidth: 1,
                        tension: 0.4,
                        yAxisID: 'y_pr_clippings'
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            type: 'linear',
                            position: 'left'
                        },
                        y_pr_clippings: {
                            beginAtZero: true,
                            type: 'linear',
                            position: 'right',
                            grid: {
                                drawOnChartArea: false
                            }
                        }
                    }
                }
            })
        </script>
    </div>
</body>

</html>