<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>

<body>

    <!-- Navigation -->
    <nav>
        <div class="nav-container">
            <a class="logo" href="/"><img src="https://ca-cdn.nanoleaf.me/assets/img/common/nanoleaf-logo-white.svg"
                    alt="Nanoleaf Logo"></a>
            <ul>
                <li><a class="nav-links" href="/marketingData">Marketing Data</a></li>
                <li><a class="nav-links" href="/salesData">Sales Data</a></li>
                <li><a class="nav-links active-link" href="/productsData">Products Data</a></li>
            </ul>
        </div>
    </nav>

    <!-- Container for Table and Chart -->
    <div class="container">
        <div class="buttons-container">
            <!-- Delete  -->
            <form action="productsData/delete_original" method="POST">
                <input type="submit" value="clear">
            </form>

            <!-- Re-insert -->
            <form action="productsData/insert_original" method="POST">
                <input type="submit" value="Insert Original Data">
            </form>

            <!-- Upload -->
            <form action="productsData/upload" method="POST" enctype="multipart/form-data">
                <input type="file" id="myFile" name="productsDataJSON" value="Upload JSON">
                <input type="submit">
            </form>
        </div>

        <!-- Table -->
        <table cellspacing="0">
            <thead>
                <th>Name</th>
                <th>Brand</th>
                <th>Short Description</th>
                <th>SKU</th>
                <th>Barcode</th>
                <th>Item Type</th>
                <th>Supplier</th>
            </thead>

            <% productsData.forEach(item => { %>
                <tr>
                    <td><%= item.variant_name %></td>
                    <td><%= item.brand %></td>
                    <td><%= item.short_description %></td>
                    <td><%= item.sku %></td>
                    <td><%= item.barcode %></td>
                    <td><%= item.item_type %></td>
                    <td><%= item.supplier %></td>
                </tr>
            <% }) %>
        </table>

        <!-- Download -->
        <div class="chart-container">
            <a class="download-link" id="csv_download" href="#">Download as CSV</a>
        </div>

        <script>
            const data = <%- JSON.stringify(productsData) %>;

            // Change the commas insdide short description to a space, otherwise it will be cut off
            data.forEach(item => {
                item.short_description = item.short_description.replace(/,/g, ' ');
            });

            let rows = [
                [   "SKU",
                    "Barcode",
                    "Parent SKU",
                    "Region Code",
                    "Item Type",
                    "Supplier",
                    "Brand",
                    "Variant Name",
                    "Short Description",
                    "Pack Type",
                    "Components",
                    "# Components",
                    "Length (mm)",
                    "Width (mm)",
                    "Height (mm)",
                    "Gross Weight (grams)",
                    "Net Weight (grams)",
                    "Volume (m3)",
                    "Length (in)",
                    "Width (in)",
                    "Height (in)",
                    "Gross Weight (lbs)",
                    "Net Weight (lbs)",
                    "Volume (ft3)",
                    "Buy (BOMUSD)",
                    "Buy (Canada_USD)",
                    "Buy (France_USD)",
                    "Buy (Hong Kong_USD)",
                    "Sell (CAD)",
                    "Sell (USD)",
                    "Sell (GBP)",
                    "Sell (EUR)",
                    "Sell (AUD)",
                    "Sell (NZD)",
                    "SeLL (SGD)",
                    "Sell (HKD)"
                ]
            ];

            // Rows of the csv file
            data.forEach(item => {
                let row = [];
                for (let key in item) {
                    if (item[key] == null) {
                        row.push("");
                    } else {
                        row.push(item[key]);
                    }
                }
                rows.push(row);
            });

            // Download the csv file
            let csv = rows.map(row => row.join(",")).join("\n");
            document.getElementById("csv_download").setAttribute("download", "products_data.csv");
            document.getElementById("csv_download").href = "data:text/csv;charset=utf-8," + encodeURIComponent(csv);
        </script>
    </div>
</body>

</html>